.viktig {
    color: rgb(255, 106, 48);
}


table {
    border-left: 1px solid;
    border-top: 1px solid;
    border-spacing: 0;
}
th, td {
    border-right: 1px solid;
    border-bottom: 1px solid;
}
table, th, td {
    border-color: rgb(173, 30, 30);
}

/* Egna tecken som bullets */
ul {
    list-style-type: none;
}
ul li::before {
    content: "🍺 "; 
}